html {
	scroll-behavior: smooth;
}

:root {
	--c-dark: #040714;
	--c-dark-1: #131313;
	--c-text: #f9f9f9;
	--c-black: #111;
	--c-white: #f9f9f9;
	--f-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

body {
	background-color: var(--c-dark);
	color: var(--c-text);

	font-size: 16px;
	font-family: var(--f-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--c-text);
	text-decoration: none;
	transition: 0.3s ease all;
}

button {
	transition: 0.3s ease all;
	cursor: pointer;
}

.d-flex {
	display: flex;
}
.space-between {
	justify-content: space-between;
}
.space-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
